<h3>Результати голосування</h3>

<table>
  <tr>
    <th>Кандидат</th>
    <th>Кількість голосів</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.name + " " + candidate.surname %></td>
    <td><%= candidate.results.count %></td>
  </tr>
<% end %>
</table>
<br/>
