<body>
<div id="container">

  <div id="header"><div style="font-size: 30px; margin-top: 10px " >Action Point Tracker</div></div>
  
    <%= render 'form' %>
    <%= button_to "Register", new_user_path, :method => :get%>


  <div id="clearfooter"></div>
</div>
<div id="footer"> APT Tracker </div>
</body>